.modificar-container {
    width: 500px;
    height: 430px;
    flex-shrink: 0;
    background-color: rgba(255, 248, 248, 1);
    border-radius: 20px;
    border: 2px solid #060556;
    padding: 100px;
    text-align: center;
}